body,.page-group,.page { background: #fff; }
.content-block { margin: 0; }
.content-block p { border-bottom: 1px solid rgba(255,255,255,.08); margin: 0; padding: .7em 0; }
.content-block p a { color: #999; }
.bm-nav { background: #000; height: 1.7rem; line-height: 1.7rem; }
.bm-nav:after { height: 0; }
.bm-nav .bm-title,.bm-nav .bm-icon { line-height: 1.7rem; padding: 0; font-size: .85rem; }
.bm-nav .bm-title { font-weight: bold; color: #0081b0;  }
.bm-nav .bm-icon { color: #b5b5b6; }
.bm-nav .bm-icon-left { font-size: 1.3rem; }
.bm-nav~.bm-content { top: 1.7rem; padding-bottom: 5rem; }
.bm-nav~.bm-content img { display: block; width: 100%; }
.swiper-container-horizontal .swiper-button-prev, .swiper-container-rtl .swiper-button-next { background-image: url(../images/btn-left.png); width: 17px; height: 28px; margin-top: -14px; background-size: 17px 28px; }
.swiper-container-horizontal .swiper-button-next, .swiper-container-rtl .swiper-button-prev { background-image: url(../images/btn-right.png); width: 17px; height: 28px; margin-top: -14px; background-size: 17px 28px; }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { width: 12px; height: 12px; background: transparent; border: 1px solid #fff; opacity: 1; }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active { background: #fff; }
.list-title { color: #666; font-size: .75rem; text-align: center; font-weight: bold; position: relative; padding-bottom: .45rem; }
.list-title:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #333; }
/*当地达人*/
.daren h2 { color: #91cf48; font-size: .75rem; text-align: center; font-weight: bold; position: relative; padding-bottom: .45rem; }
.daren h2:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #91cf48; }
.daren .row .col-50 { margin-top: 4%; position: relative; }
/*特色美食*/
.foot h2 { color: #f7555b; font-size: .75rem; text-align: center; font-weight: bold; position: relative; padding-bottom: .45rem; }
.foot h2:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #f7555b; }
.foot .row .col-50 { margin-top: 4%; position: relative; }

/*达人游记*/
.youji h2 { color: #33d5ff; font-size: .75rem; text-align: center; font-weight: bold; position: relative; padding-bottom: .45rem; }
.youji h2:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #33d5ff; }
.youji .row .col-50 { margin-top: 4%; position: relative; }
/*动态新闻*/
.news-title { color: #666; font-size: .75rem; text-align: center; font-weight: bold; position: relative; padding-bottom: .45rem; }
.news-title:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #333; }
.news-card { background: #a3a3a3; font-size: .4rem; color: #fff; border-radius: initial; }
.news-card .item-content { min-height: 1.2rem; padding-left: 0; }
.news-card .list-block .item-media+.item-inner { margin-left: 0; }
.news-card .list-block .item-link .item-inner { background-image: url(../images/more.png); }
.news-card .item-inner { padding-top: 0; padding-bottom: 0; min-height: 1.2rem; margin-left: 0; }
.news-card .item-title { font-size: .4rem; color: #fff; text-indent: .2rem; }
.index-news-card.news-card { background: transparent; padding-top: 0; padding-bottom: 0; }
.index-news-card.news-card .card-content { background: #a3a3a3; }
.img-desc { width: 100%; height: 2.6rem; line-height: 2.6rem; background: rgba(0,0,0,0.8); position: absolute; bottom: 0; left: 0; right: 0; text-align: center; font-size: .7rem; color: #fff; }
.bm-nav~.bm-content .img-desc img { width: auto; display: inline-block; vertical-align: middle; }
.fans-content { padding: 0 15%; }
.bm-nav~.bm-content .img-txt { width: 100%; height: 100%; line-height: 100%; position: absolute; top: 35%; left: 0; color: #fff; font-size: .9rem; text-align: center; font-weight: 600; }
.banner-txt { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; color: #fff;background-color: rgba(0,0,0,0.5); text-align: center; }
.banner-txt h1 { margin-top: 1.23em; }
.banner-txt h2 { margin-top: 3.2em; text-align: center; font-size: 1.2rem; position: relative; padding-bottom: .45rem; }
.banner-txt h2:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #fff; }
.banner-txt .read { padding: .35rem .55rem; border: 1px solid #fff; margin: 0 auto; font-size: .65rem; display: inline-block; }
.sup-banner-txt { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; color: #fff;background-color: rgba(0,0,0,0.5); text-align: center; }

.sup-banner-txt h2 { margin-top: 5.5em; text-align: center; font-size: 1.5rem; position: relative; padding-bottom: .45rem; margin-bottom: 0; }
.sup-banner-txt h3 { font-size: 1.8rem; position: relative; padding-bottom: .45rem; font-weight: normal; margin: 0; }
.sup-banner-txt h2:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 8%; margin-left: -4%; height: 1px;background-color: #fff; }
.sup-banner-txt .read { padding: .35rem .55rem; margin: 0 auto; font-size: .65rem; display: inline-block; background-color: #023591; }
.bm-nav~.bm-content .banner-txt img { width: 50%; margin: 0 auto; }
.fans-content .weibo,.fans-content .weixin { margin: 0; } 
.fans-content .weibo { float: left; }
.fans-content .weixin { float: right; }
#footer .footer-content { padding: 0 15%; }
#footer h4,#footer h5,#footer p { text-align: center; margin: 0; }
#footer h4 { margin: 1.8rem 0 0; color: #000; }
#footer h5 { color: #000; font-size: .4rem; line-height: 1.25rem; margin-top: .9rem; }
#footer p { color: #3e3a39; font-size: .4rem; line-height: 1.25rem; }
.fans { text-align: center; font-size: .5rem; color: #666; }


/*罗塔页面*/
.luota-card { margin: 0; }
.luota-card a { margin: 0; width: 100%; }
.luota-tab { background: #a5a5a6; padding: 2.6rem 0 1.3rem 0; }
.luota-tab h1 { text-align: center; color: #16a542; margin-bottom: 0; line-height: 1.2; font-size: 1.5rem; }
.luota-tab .buttons-row { text-align: center; width: 100%; display: block; }
.luota-tab .buttons-row .button { border: none; background: none; color: #000; width: auto; display: inline-block; border-right: 1px solid #000; height: auto; line-height: 1.0; border-radius: initial; }
.luota-tab .buttons-row .button:first-child { border-left: 1px solid #000; }
.luota-tab .buttons-row .button.active { background: none; color: #16a542; }
.luota-tab .content-block { padding: 0; }
.luota-tab .tabs { padding-top: 1.3rem; }
.luota-tab .card { background: transparent; box-shadow: none; margin: 0; padding: 0; }
.luota-tab .card li { padding: .4rem 1.2rem; border-bottom: 1px solid #e7e7e7; }
.luota-tab .card li:nth-of-type(1) { border-top: 1px solid #e7e7e7; }
.luota-tab .card .list-block .item-inner:after { display: none; }
.luota-tab .list-block .item-media { width: .7rem; background-image: url(../images/luota-list.png); background-size: .7rem; margin-right: .25rem; background-repeat: no-repeat; }
.luota-tab .card .list-block .item-link .item-inner { background-image: url(../images/luota-more.png); }
.luota-tab .card .item-title { font-size: .6rem; }
.luota-tab .card .item-title span { font-family: 'Tahoma'; margin-left: .25rem; }

/*社群页面*/
.shequn-card { box-shadow: none; background: #3e3a39; margin: 0; border-radius: initial; padding: 1.5rem; font-size: .5rem; color: #fff; line-height: .9rem; }
.shequn-card .card-content-inner { padding: 0; }
.shequn-card .card-content-inner .color-gray { font-size: .7rem; text-align: center; color: #fff; line-height: 1.75rem; font-weight: 600; margin-top: 1em; }

/*新闻页面*/
.news-card { box-shadow: none; background: #3e3a39; margin: 0; border-radius: initial; padding: 1.5rem; font-size: .5rem; color: #fff; line-height: .9rem; }
.news-card .card-content-inner { padding: 0; }
.news-card .card-content-inner p { font-size: .4rem; color: #fff; }
.news-card .card-content-inner .color-gray { color: #0081b0; font-size: .6rem; line-height: .75rem; margin: 0; margin-top: .65rem; }
.news-card .card-content-inner .size-big { color: #fff; font-size: .6rem; line-height: .75rem; margin: 0; }

/*文化活动页面*/
.list-block.inset.activity-list { background: #727171; margin: 0; padding: 1.75rem 0; border-radius: initial; }
.list-block.inset.activity-list ul { background: transparent; border-radius: initial; }
.list-block.inset.activity-list ul li { padding: 0 .75rem; position: relative; }
.list-block.inset.activity-list ul li:after { content: ''; position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 1px; background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,0.1)); }
.list-block.inset.activity-list .item-link .item-inner { background-image: url(../images/more.png); background-size: 1.0rem; }
.list-block.inset.activity-list .item-link .item-inner .item-title { font-size: .9rem; color: #000; }
.list-block.inset.activity-list .item-link .item-inner .item-subtitle { font-size: .6rem; color: #fff; background: url(../images/icon.png) no-repeat left center; padding-left: 1.5rem; background-size: 1.2rem; line-height: 1.5rem; }
.list-block.inset.activity-list .item-inner:after { display: none; }